<script src="../../Scripts/clientsController.js">
</script>
<section class="content-header">
    <h1>
            Espace Administrateur            
          </h1>
</section>

<!-- Main content -->
<section class="content" ng-controller="clientsController">
    <div class="box box-warning">
        <li><a href="#addclient"><i class="fa fa-link"></i> <span>Nouveau client</span></a></li>
        <div class="box-header with-border">
            <h3 class="box-title">Liste des clients</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body" >
  

            <table class="table table-bordered table-striped">
                <thead>
                    <tr >
                        <th>Cin</th>
                        <th>Client</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Nature</th>
                        <th>Marque Véhicule</th>
                        <th>Modèle</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clients">
                    <td>{{client.cin}}</td>
                    <td>{{client.nom}} {{client.prenom}}</td>
                    <td>{{client.tel}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.nature_veh}}</td>    
                    <td>{{client.marque_veh}}</td>    
                    <td>{{client.modele_veh}}</td>    
                    <td><button class="btn btn-primary btn-sm">Modifier</button>   <button class="btn btn-primary btn-sm">Supprimer</button></td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</section>