<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
            Page Header
            <small>Test Hamayouni Incidents</small>
          </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<!-- Main content -->
<section class="content" ng-controller="ClientCtrl as main">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="item" ng-repeat="item in main.items">
                    <h3>{{item.cin}}</h3>
                    <p><strong>{{item.nom}}</strong></p>
                </div>
            </div>
            <div class="col-md-8">
                <!-- CREATE ITEM FORM -->
                <!-- EDIT ITEM FORM -->
            </div>
        </div>
    </div>

</section>