<script src="../../Scripts/clientsController.js">
</script>
<section class="content-header">
    <h1>
            Espace Administrateur            
          </h1>
</section>

<!-- Main content -->
<section class="content" ng-controller="clientsController">
    <div class="box box-warning">
        <li><a href="#addremorqueur"><i class="fa fa-link"></i> <span>Nouveau remorqueur</span></a></li>
        <div class="box-header with-border">
            <h3 class="box-title">Liste des remorqueurs</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
  

            <table class="table table-bordered table-striped">
                <thead>
                    <tr >
                        <th>Cin</th>
                        <th>Nom et prénom</th>
                        <th>Numéro Telephone</th>
                        <th>Adresse electronique</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clients">
                    <td>{{client.cin}}</td>
                    <td>{{client.nom}} {{client.prenom}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.tel}}</td>
                    <td>actions</td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</section>